spring:
  application:
    name: users-service-virunga
  datasource:
    url: jdbc:postgresql://localhost:5433/users-virunga-DB
    username: ${USERNAME}
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-request-size: 10MB
      enabled: true
      max-file-size: 10MB

server:
  port: 8081
  servlet:
    context-path: /api/v1
