spring:
  application:
    name: product-service-virunga
  profiles:
    active: prod

  datasource:
    url: ${DATASOURCE_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10

  data:
    redis:
      host: localhost     
      port: 6379          
      timeout: 60000
      lettuce:
        pool:
          max-active: 16
          max-idle: 8
      
  cache:
    type: redis
    redis:
      time-to-live: 600000
      cache-null-values: false
      key-prefix: "virunga:"
      use-key-prefix: true

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

server:
  port: 8080
  compression:
    enabled: true
    min-response-size: 1024

logging:
  level:
    root: WARN
    com.eustache.virunga: INFO