services:
  db:
    container_name: ProductVirungaApp
    image: postgres:17
    environment:
      POSTGRES_DB: product-virunga-DB
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5434:5432"
    networks:
      - db
    restart: unless-stopped

  redis:
    container_name: ProductVirungaRedis
    image: redis:7
    ports:
      - "6380:6379"
    restart: unless-stopped
    
networks:
  db:
    driver: bridge
volumes:
  db: