spring:
  application:
    name: product-service
  datasource:
    url: jdbc:postgresql://localhost:5434/productVirungaDB
    username: ${USERNAME}
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      enabled: true

server:
  port: 8080
  servlet:
    context-path: /api/v1/
