spring:
  application:
    name: product-service
  datasource:
    url: jdbc:postgresql://localhost:5434/productVirungaDB
    username: ${USERNAME}
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
