spring:
  application:
    name: product-service-virunga
  datasource:
    url: jdbc:postgresql://localhost:5434/product-virunga-DB
    username: ${USERNAME}
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      enabled: true

server:
  port: 8080
  error:
        include-message: always
        include-binding-errors: always

# For debugging
logging:
  level:
    org.springframework.security.authentication: DEBUG
    org.springframework.security.web: DEBUG
    org.springframework.security: DEBUG
