openapi: 3.1.0
info:
  title: OpenAPI definition
  version: v0
servers:
  - url: http://localhost:8081/api/v1
    description: Generated server url
paths:
  /users/insert:
    post:
      tags:
        - user-controller
      operationId: createUser
      parameters:
        - name: userDAO
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/UserDTO'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                imageFile:
                  type: string
                  format: binary
              required:
                - imageFile
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /users/update/{id}:
    patch:
      tags:
        - user-controller
      operationId: updateUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: userDTO
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/UserDTO'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                imageFile:
                  type: string
                  format: binary
              required:
                - imageFile
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
  /users/get/{username}:
    get:
      tags:
        - user-controller
      operationId: getUserByUsername
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserResponseDTO'
  /users/get/{id}:
    get:
      tags:
        - user-controller
      operationId: getUserById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserResponseDTO'
  /users/allUsers:
    get:
      tags:
        - user-controller
      operationId: getAllUsers
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserResponseDTO'
  /users/{id}:
    delete:
      tags:
        - user-controller
      operationId: deleteUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
components:
  schemas:
    UserDTO:
      type: object
      properties:
        username:
          type: string
          minLength: 1
        email:
          type: string
          minLength: 1
        password:
          type: string
          minLength: 1
      required:
        - email
        - password
        - username
    UserResponseDTO:
      type: object
      properties:
        id:
          type: integer
          format: int32
        email:
          type: string
        username:
          type: string
        profilePicture:
          type: string
